body {
  opacity: 0;
}
#image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15dvh;
}
#image img {
  width: 75%;
}
#invitation {
  margin-block: 2.5dvh;
}
#date {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-block: 2.5dvh;
}
.inv {
  font-size: 2.5dvh;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: var(--dark-color);
}
.div1 {
  grid-area: 1 / 2 / 2 / 3;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 3 / 2 / 4 / 3;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 2.5dvh;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--primary-color);
}
#day {
  font-size: 3dvh;
  padding-inline: 2.5vw;
  border-inline: 1.5px solid var(--primary-color);
}
#venue {
  margin-top: 5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#location {
  font-size: 2dvh;
  text-align: center;
}

.venue {
  font-size: 3dvh;
}
