@keyframes breathing {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5dvh;
}
body {
  opacity: 0;
}
.logo img {
  width: 25%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  margin-block: 7.5dvh;
  font-size: 3dvh;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}
.shape {
  background-color: var(--primary-color);
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0;
  height: 65%;
  width: 100%;
}
.shape-title {
  margin-top: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#soon {
  color: var(--bg-color);
  max-width: 80%;
  text-align: center;
  font-size: 2.5dvh;
  font-weight: 300;
}
#familyname {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 4dvh;
  text-align: center;
  text-transform: uppercase;
}
.shape-details {
  margin-block: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#first-details {
  max-width: 300px;
  text-align: left;
  color: var(--bg-color);
  font-weight: 200;
  font-size: 2.25dvh;
}
#IDO {
  color: var(--bg-color);
  font-weight: 400;
}
.shape-fragment {
  position: absolute;
  display: flex;
  bottom: 0;
  margin-bottom: 2.5dvh;
  justify-content: center;
  align-items: flex-start;
}
.shape-fragment img {
  width: 40%;
  height: 50%;
}
.inner-shape {
  width: 100%;
  height: 64%;
  position: absolute;
  bottom: 0;
  display: flex;
  z-index: 1000;
  justify-content: center;
}
.box {
  background-color: var(--secondary-color);
  padding-inline: 3dvh;
  padding-block: 1.5dvh;
  color: white;
  box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1dvh;
}
#clickScreen {
  position: absolute;
  bottom: 6dvh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
}
.animate-text {
  animation: breathing 1s ease-out infinite alternate;
}
